# IDE / Editor configurations
.idea/
.gitattributes

# Python caches and compiled files
**/__pycache__/
*.pyc
.pytest_cache/

# Workflow and job management
.snakemake
.deepeval*

# Project-specific files and folders
data/
data-collection/storage
outputs/
pyzotero-local/

# Sensitive or temporary scripts
scripts/API_keys.py
scripts/pubmed_scraper.py

# Tests and test outputs
tests/