langchain==0.3.12
langchain_community==0.3.12
langchain_core==0.3.25
langchain_openai==0.2.12
langchain_text_splitters==0.3.3
langgraph==0.2.59
matplotlib==3.10.0
openai==1.58.1
pandas==2.2.3
Requests==2.32.3
scikit_learn==1.6.0
seaborn==0.13.2
typing_extensions==4.12.2
